{{#section 'head'}}
<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Categories</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
        <!-- dropzone CSS
		============================================ -->
    {{!-- <link rel="stylesheet" href="/css/dropzone/dropzone.css"> --}}
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />

    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <!-- x-editor CSS
		============================================ -->
    <link rel="stylesheet" href="/css/editor/select2.css">
    <link rel="stylesheet" href="/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="/css/editor/x-editor-style.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="/css/data-table/bootstrap-editable.css">
        <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="/css/modals.css">
    <!-- forms CSS
		============================================ -->
    <link rel="stylesheet" href="/css/form/all-type-forms.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <link rel="stylesheet" href="/css/my-css.css">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
{{/section}}

<div class="product-status mg-b-15">
    <div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-12">
				<div class="breadcome-heading my-search-row">
					<form role="search" method="get" id="search-form" class="sr-input-func">
						<input type="text" name="name"
							{{#if searchQuery}}
								value={{searchQuery}}
							{{/if}}					
						placeholder="Search..." class="search-int form-control">
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
			</div>
		</div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>All Category</h4>
                    <div class="add-product">
                        <a href="#" data-toggle="modal" data-target="#addCateModal">Add Category</a>
                    </div>
                    <div class="asset-inner">
                        <table>
                            <tr>
                                <th>ID</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Number of Products</th>
                                <th>Action</th>
                            </tr>
                            {{#each cates}}
                                <tr>
                                    <td>{{this.catID}}</td>
                                    <td><img src="{{this.catImage}}" alt="{{this.catName}}" /></td>
                                    <td>{{this.catName}}</td>
                                    <td>{{this.quantity}}</td>
                                    <td>
                                        <a href="#" data-toggle="modal" data-target="#editCateModal" data-id="{{this.catID}}" data-catname="{{this.catName}}" style="color: black;"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                        {{#if this.quantity}}
                                            <a href="/products?cateid={{this.catID}}" style="color: black;"><button data-toggle="tooltip" title="See products" class="pd-setting-ed"><span class="educate-icon educate-course icon-wrap" aria-hidden="true"></span></button></a>
                                        {{else}}
                                            <button title="Delete" data-id={{this.catID}} class="pd-setting-ed" data-toggle="modal" data-target="#deleteCateModal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                        {{/if}}
                                    </td>
                                </tr>
                            {{/each}}

                        </table>
                    </div>
                    <div id="deleteCateModal" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-close-area modal-close-df">
                                    <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                </div>
                                <div class="modal-body">
                                    <span class="educate-icon educate-danger modal-check-pro information-icon-pro"></span>
                                    <h2>Delete this category?</h2>
                                    <!-- <p>If you delete this product, they can not access the shop's website anymore.</p> -->
                                </div>
                                <div class="modal-footer danger-md">
                                    <button class="btn btn-danger " type="button" data-dismiss="modal">Cancel</button>
                    				<form method="post" id="delete-category-form"></form>
									<button class="btn btn-danger" id="submit-delete-form"  type="button">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                       
                    {{#if paginationArray}}
                        <form method="get" action="/categories">
							{{#if searchQuery}}
								<input readonly type="text" name="name" style="display: none;" value="{{searchQuery}}"/>
							{{/if}} 
                            <ul class="my-pagination">
                                <li class="my-page-item">
                                    <input onchange='this.form.submit();' style="display: none;" id="page-prev" value="{{prevPage}}" type="radio" name="page"/>
                                    <label for="page-prev"  class="my-page-button">Prev</label>
                                </li>
                                {{#each paginationArray }}  
                                    {{#if this.isCurrent}}
                                        <li class="my-page-item">
                                            <input onchange='this.form.submit();' style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="page"/>
                                            <label for="page-{{this.page}}"  class="my-page-link my-current-page">{{this.page}}</label>
                                        </li>
                                    {{else}}
                                        <li class="my-page-item">
                                            <input onchange='this.form.submit();' style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="page"/>
                                            <label for="page-{{this.page}}"  class="my-page-link">{{this.page}}</label>
                                        </li>
                                    {{/if}}
                                {{/each}}
                                <li class="my-page-item">
                                    <input onchange='this.form.submit();' style="display: none;" id="page-next" value="{{nextPage}}" type="radio" name="page"/>
                                    <label for="page-next"  class="my-page-button">Next</label>
                                </li>
                            </ul>
                        </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

 <div id="addCateModal" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-color-modal bg-color-1">
                <h4 class="modal-title">Add a new Category</h4>
                <div class="modal-close-area modal-close-df">
                    <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                </div>
            </div>                                
            <form  action="/categories/store" method="post" class="dropzone dropzone-custom needs-validation "  id="create-category-form" novalidate>
                <div class="modal-body" style="padding: 0; text-align: left">
                    <div style="padding: 20px; background-color: white; ">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="addCatNameBox">Category's name</label>
                                    <input id="addCatNameBox" name="catName" type="text" class="form-control" required maxlength="255" placeholder="Category Name">
                                    <div class="invalid-feedback">
										Please provide a valid name.
									</div>
                                </div>  
                                <div class="form-group alert-up-pd pro-ad">
                                    <label>Category's logo</label>
                                    <div class="dz-message needsclick download-custom">
                                        <i class="fa fa-download edudropnone" aria-hidden="true"></i>
                                        <h2 class="edudropnone">Drop image here or click to upload.</h2>
                                    </div>
                                </div>
                                <div class="file-empty-feedback" style="color: #dc3545;font-size: 80%; visibility:hidden">
										Please add at least one photo.
								</div>
                                <div id="imagePreviewContainer" class="dropzone-previews"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary waves-effect waves-light" type="button" data-dismiss="modal">Cancel</button>
					<button class="btn btn-primary waves-effect waves-light" type="submit">Add</button>
                </div>
             </form>
        </div>
    </div>
</div>

 <div id="editCateModal" class="modal modal-edu-general default-popup-PrimaryModal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-color-modal bg-color-1">
                <h4 class="modal-title">Edit Category</h4>
                <div class="modal-close-area modal-close-df">
                    <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                </div>
            </div>
           <form action="/categories/edit" method="post" class="dropzone dropzone-custom needs-validation "  id="edit-category-form" novalidate>
                <div class="modal-body" style="padding: 0; text-align: left">
                    <div style="padding: 20px; background-color: white;	">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="editCatNameBox">Category's name</label>
                                    <input id="editCatNameBox" name="catName" type="text" class="form-control" required maxlength="255" placeholder="Category Name">
                                    <div class="invalid-feedback">
										Please provide a valid name.
									</div>
                                </div>  
                                <div class="form-group alert-up-pd pro-ad">
                                    <label>Category's logo</label>
                                    <div class="dz-message needsclick download-custom">
                                        <i class="fa fa-download edudropnone" aria-hidden="true"></i>
                                        <h2 class="edudropnone">Drop image here or click to upload.</h2>
										<p class="edudropnone" style="text-align: center;"><span class="note needsclick">(If no file selected, the old logo will be remain.)</span></p>
                                    </div>
                                </div>
                                <div id="editImagePreviews" class="dropzone-previews"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary waves-effect waves-light" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary waves-effect waves-light" type="submit">Save</button>
                </div>
             </form>
        </div>
    </div>
</div>

{{#section 'script'}}
 <!-- jquery
		============================================ -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="/js/counterup/jquery.counterup.min.js"></script>
    <script src="/js/counterup/waypoints.min.js"></script>
    <script src="/js/counterup/counterup-active.js"></script>
    <!-- dropzone JS
		============================================ -->
    {{!-- <script src="/js/dropzone/dropzone.js"></script> --}}
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/js/metisMenu/metisMenu.min.js"></script>
    <script src="/js/metisMenu/metisMenu-active.js"></script>
    <!-- data table JS
		============================================ -->
    <script src="/js/data-table/bootstrap-table.js"></script>
    <script src="/js/data-table/tableExport.js"></script>
    <script src="/js/data-table/data-table-active.js"></script>
    <script src="/js/data-table/bootstrap-table-editable.js"></script>
    <script src="/js/data-table/bootstrap-editable.js"></script>
    <script src="/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="/js/data-table/colResizable-1.5.source.js"></script>
    <script src="/js/data-table/bootstrap-table-export.js"></script>
    <!--  editable JS
        ============================================ -->
    <script src="/js/editable/jquery.mockjax.js"></script>
    <script src="/js/editable/mock-active.js"></script>
    <script src="/js/editable/select2.js"></script>
    <script src="/js/editable/moment.min.js"></script>
    <script src="/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="/js/editable/bootstrap-editable.js"></script>
    <script src="/js/editable/xediable-active.js"></script>
    <!-- datapicker JS
		============================================ -->
    <script src="/js/datapicker/bootstrap-datepicker.js"></script>
    <script src="/js/datapicker/datepicker-active.js"></script>
    <!-- colorpicker JS
		============================================ -->
    <script src="/js/colorpicker/jquery.spectrum.min.js"></script>
    <script src="/js/colorpicker/color-picker-active.js"></script>
    <!-- Chart JS
        ============================================ -->
    <script src="/js/chart/jquery.peity.min.js"></script>
    <script src="/js/peity/peity-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="/js/tab.js"></script>
    <!-- morrisjs JS
		============================================ -->
    {{!-- <script src="/js/morrisjs/raphael-min.js"></script>
    <script src="/js/morrisjs/morris.js"></script>
    <script src="/js/morrisjs/morris-active.js"></script> --}}
    <!-- morrisjs JS
		============================================ -->
    <script src="/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="/js/sparkline/sparkline-active.js">    </script>
    <!-- calendar JS
		============================================ -->
    <script src="/js/calendar/moment.min.js"></script>
    <script src="/js/calendar/fullcalendar.min.js"></script>
    <script src="/js/calendar/fullcalendar-active.js"></script>
        <!-- form validate JS
		============================================ -->
    <script src="/js/form-validation/jquery.form.min.js"></script>
    <script src="/js/form-validation/jquery.validate.min.js"></script>
    <script src="/js/form-validation/form-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/js/main.js"></script>

<script>
    function paramNameForSend() {
			return "images";    
		}
    $(document).ready(function(){
		let createDropzone = null;
		let editDropzone = null;
		const deleteForm = document.getElementById("delete-category-form");
        Dropzone.options.createCategoryForm = { // The camelized version of the ID of the form element
            // The configuration we've talked about above
            autoProcessQueue: false,
            uploadMultiple: false,
            parallelUploads: 100,
            maxFiles: 1,
            acceptedFiles: "image/*",
            addRemoveLinks: true,
            paramName: paramNameForSend,
            previewsContainer: document.querySelector('#imagePreviewContainer'),
            // The setting up of the dropzone
            init: function() {
                createDropzone = this;
                // First change the button to actually tell Dropzone to process the queue.
               this.on("sendingmultiple", function() {
					// Gets triggered when the form is actually being sent.
					// Hide the success button or the complete form.
						console.log("Sending");
				});
				this.on("success", function(files, response) {
					// Gets triggered when the files have successfully been sent.
					// Redirect user or notify of success.
						window.location = response;
						console.log("Success");
				});
				this.on("errormultiple", function(files, response) {
					// Gets triggered when there was an error sending the files.
					// Maybe show form again, and notify user of error
				}); 
            }
        }	
		 Dropzone.options.editCategoryForm = { // The camelized version of the ID of the form element
            // The configuration we've talked about above
            autoProcessQueue: false,
            uploadMultiple: false,
            parallelUploads: 100,
            maxFiles: 1,
            acceptedFiles: "image/*",
            addRemoveLinks: true,
            paramName: paramNameForSend,
            previewsContainer: document.querySelector('#editImagePreviews'),
            // The setting up of the dropzone
            init: function() {
                editDropzone = this;
                // First change the button to actually tell Dropzone to process the queue.
				this.on("sendingmultiple", function() {
					// Gets triggered when the form is actually being sent.
					// Hide the success button or the complete form.
						console.log("Sending");
				});
				this.on("success", function(files, response) {
					// Gets triggered when the files have successfully been sent.
					// Redirect user or notify of success.
						window.location = response;
						console.log("Success");
				});
				this.on("errormultiple", function(files, response) {
					// Gets triggered when there was an error sending the files.
					// Maybe show form again, and notify user of error
				}); 
            }
        }	
        $('#editCateModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('catname') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
			let id = button.data('id');
            var modal = $(this);
			editDropzone.options.url='/categories/edit/' + id +'?_method=PUT';
			modal.find('#edit-category-form').attr('action', '/categories/edit/' + id +'?_method=PUT' );
            modal.find('.modal-body #editCatNameBox').val(recipient);
        });

		 $('#deleteCateModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id') // Extract info from data-* attributes
            var modal = $(this);
			modal.find('#delete-category-form').attr('action', '/categories/delete/' + id +'?_method=DELETE' );
        });

		document.getElementById("submit-delete-form").addEventListener('click', function(e){
			deleteForm.submit();
		});

		// Fetch all the forms we want to apply custom Bootstrap validation styles to
		const forms = document.getElementsByClassName('needs-validation');
		// Loop over them and prevent submission
		const validation = Array.prototype.filter.call(forms, function(form) {
			form.addEventListener('submit', function(event) {
				event.preventDefault();
				if (form.checkValidity() === false) {
					event.stopPropagation();
					
				}else{
					if(form.id==="create-category-form"){
						if(createDropzone.getQueuedFiles().length > 0){
							console.log("oke");
							document.querySelector(".file-empty-feedback").style.visibility="hidden";
							createDropzone.processQueue();
						}
						else{
							document.querySelector(".file-empty-feedback").style.visibility="visible";
						}
					}
						if(form.id==="edit-category-form"){
							console.log("cl")
							if(editDropzone.getQueuedFiles().length > 0){
							editDropzone.processQueue();
							}
							else{
								form.submit();
							}
						
					}
				}
				form.classList.add('was-validated');
			}, false);
		});
    })
</script>
{{/section}}