{{#section 'head'}}
<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Orders</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- notifications CSS
		============================================ -->
    <link rel="stylesheet" href="/css/notifications/Lobibox.min.css">
    <link rel="stylesheet" href="/css/notifications/notifications.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/educate-custon-icon.css">
    <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="/css/modals.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <!-- x-editor CSS
		============================================ -->
    <link rel="stylesheet" href="/css/editor/select2.css">
    <link rel="stylesheet" href="/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="/css/editor/x-editor-style.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="/css/data-table/bootstrap-editable.css">
       <!-- buttons CSS
		============================================ -->
    <link rel="stylesheet" href="/css/buttons.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <link rel="stylesheet" href="/css/my-css.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
{{/section}}

<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap drp-lst">
                    <h4>All Orders</h4>
                    <div class="asset-inner" style="overflow-y: unset;">
                        <table>
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    {{!-- <th>Order ID</th> --}}
                                    <th>Orderer</th>
                                    <th>Ordered on</th>
                                    <th>Total($)</th>
                                    <th style="width: 20%;">Status</th>
                                    <th style="width: 5%;">Action</th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                                {{#each orders}}
                                    <tr>
                                        <td>{{this.No}}</td>
                                        <td>{{this.orderer}}</td>
                                        <td>{{this.orderDate}}</td>
                                        <td>{{this.total}}</td>
                                        <td style="padding-right: 40px;">
                                            <select class="form-control" onchange="statusBoxChange(this)" name="statusBox" data-orderid="{{this.orderID}}">
                                                {{#select this.status}}
                                                    <option value="1">Pending confirmation</option>
                                                    <option value="2">Confirmed</option>
                                                    <option value="3">Pick by courier</option>
                                                    <option value="4">On their way</option>
                                                    <option value="5">Arrived</option>
                                                    <option value="6">Completed</option>
                                                    <option value="7">Canceled</option>
                                                {{/select}}
                                            </select>
                                        </td>
                                        <td>
                                            <a href="/orders/view/{{this.orderID}}" style="color: black;"><button data-toggle="tooltip" title="Details" class="pd-setting-ed"><i class="fa fa-info-circle" aria-hidden="true"></i></button></a>
                                        </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    {{#if paginationArray}}
                        <form 	
                          method="get"
                          action="/orders"
						            >
                          <ul class="my-pagination" id="my-pagination">
                              <li class="my-page-item">
                                  <input onchange='startSubmit(this);' style="display: none;" id="page-prev" value="{{prevPage}}" type="radio" name="page"/>
                                  <label for="page-prev"  class="my-page-button">Prev</label>
                              </li>
                              {{#each paginationArray }}  
                                  {{#if this.isCurrent}}
                                      <li class="my-page-item">
                                          <input onchange='startSubmit(this);' style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="page"/>
                                          <label for="page-{{this.page}}"  class="my-page-link my-current-page">{{this.page}}</label>
                                      </li>
                                  {{else}}
                                      <li class="my-page-item">
                                          <input onchange='startSubmit(this);' style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="page"/>
                                          <label for="page-{{this.page}}"  class="my-page-link">{{this.page}}</label>
                                      </li>
                                  {{/if}}
                              {{/each}}
                              <li class="my-page-item">
                                  <input onchange='startSubmit(this);' style="display: none;" id="page-next" value="{{nextPage}}" type="radio" name="page"/>
                                  <label for="page-next"  class="my-page-button">Next</label>
                              </li>
                          </ul>
                        </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<button id="basicSuccessCustomTitle" class="btn btn-success" style="display: none;"/>

{{#section 'script'}}
<!-- jquery
    ============================================ -->
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="js/bootstrap.min.js"></script>
<!-- wow JS
    ============================================ -->
<script src="js/wow.min.js"></script>
<!-- price-slider JS
    ============================================ -->
<script src="js/jquery-price-slider.js"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="js/jquery.meanmenu.js"></script>
<!-- owl.carousel JS
    ============================================ -->
<script src="js/owl.carousel.min.js"></script>
<!-- sticky JS
    ============================================ -->
<script src="js/jquery.sticky.js"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="js/jquery.scrollUp.min.js"></script>
<!-- counterup JS
    ============================================ -->
<script src="js/counterup/jquery.counterup.min.js"></script>
<script src="js/counterup/waypoints.min.js"></script>
<script src="js/counterup/counterup-active.js"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/scrollbar/mCustomScrollbar-active.js"></script>
<!-- metisMenu JS
    ============================================ -->
<script src="js/metisMenu/metisMenu.min.js"></script>
<script src="js/metisMenu/metisMenu-active.js"></script>
<!-- data table JS
    ============================================ -->
<script src="js/data-table/bootstrap-table.js"></script>
<script src="js/data-table/tableExport.js"></script>
<script src="js/data-table/data-table-active.js"></script>
<script src="js/data-table/bootstrap-table-editable.js"></script>
<script src="js/data-table/bootstrap-editable.js"></script>
<script src="js/data-table/bootstrap-table-resizable.js"></script>
<script src="js/data-table/colResizable-1.5.source.js"></script>
<script src="js/data-table/bootstrap-table-export.js"></script>
<!--  editable JS
    ============================================ -->
<script src="js/editable/jquery.mockjax.js"></script>
<script src="js/editable/mock-active.js"></script>
<script src="js/editable/select2.js"></script>
<script src="js/editable/moment.min.js"></script>
<script src="js/editable/bootstrap-datetimepicker.js"></script>
<script src="js/editable/bootstrap-editable.js"></script>
<script src="js/editable/xediable-active.js"></script>
<!-- Chart JS
    ============================================ -->
<script src="js/chart/jquery.peity.min.js"></script>
<script src="js/peity/peity-active.js"></script>
<!-- tab JS
    ============================================ -->
<script src="js/tab.js"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="js/morrisjs/raphael-min.js"></script>
<script src="js/morrisjs/morris.js"></script>
<script src="js/morrisjs/morris-active.js"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="js/sparkline/jquery.sparkline.min.js"></script>
<script src="js/sparkline/jquery.charts-sparkline.js"></script>
<script src="js/sparkline/sparkline-active.js"></script>
<!-- notification JS
		============================================ -->
<script src="/js/notifications/Lobibox.js"></script>
<script src="/js/notifications/notification-active.js"></script>
<!-- calendar JS
    ============================================ -->
<script src="js/calendar/moment.min.js"></script>
<script src="js/calendar/fullcalendar.min.js"></script>
<script src="js/calendar/fullcalendar-active.js"></script>
<!-- plugins JS
    ============================================ -->
<script src="/js/plugins.js"></script>
<!-- main JS
    ============================================ -->
<script src="/js/main.js"></script>
<!-- tawk chat JS
    ============================================ -->
<!-- <script src="js/tawk-chat.js"></script> -->

<script>
    $(document).ready(function(){

    });
        function statusBoxChange(ele){
            let status = $(ele).val();
            let id = $(ele).data('orderid');
             $.ajax({
                url: '/orders',
                method: 'PUT',
                data: {
                    id,
                    status
                },
                success: function(data) {
                    $("#basicSuccessCustomTitle").click();
                },
                error: function(err) {

                }
            });
        }

    	function generatePager(paginationArray, prevPage, nextPage){
            let result = [];
            result.push(`
                <li class="my-page-item">
                    <input onchange='startSubmit(this);' style="display: none;" id="page-prev" value="${prevPage}" type="radio" name="page"/>
                    <label for="page-prev"  class="my-page-button">Prev</label>
                </li>
            `)

            paginationArray.forEach(page=>{
                if(page.isCurrent){
                    result.push(`
                        <li class="my-page-item">
                            <input onchange='startSubmit(this);' style="display: none;" id="page-${page.page}" value="${page.page}" type="radio" name="page"/>
                            <label for="page-${page.page}"  class="my-page-link my-current-page">${page.page}</label>
                        </li>
                    `)
                }else{
                    result.push(`
                        <li class="my-page-item">
                            <input onchange='startSubmit(this);' style="display: none;" id="page-${page.page}" value="${page.page}" type="radio" name="page"/>
                            <label for="page-${page.page}"  class="my-page-link">${page.page}</label>
                        </li>
                    `)
                }
            });
            result.push(`
                <li class="my-page-item">
                    <input onchange='startSubmit(this);' style="display: none;" id="page-next" value="${nextPage}" type="radio" name="page"/>
                    <label for="page-next"  class="my-page-button">Next</label>
                </li>
            `)
		return result;
	}
	function generateOrder(orders){
		return orders.map(order=>{
			let statusArray = [
                `<option value="1">Pending confirmation</option>`,
                `<option value="2">Confirmed</option>`,
                `<option value="3">Pick by courier</option>`,
                `<option value="4">On their way</option>`,
                `<option value="5">Arrived</option>`,
                `<option value="6">Completed</option>`,
                `<option value="7">Canceled</option>`
            ];
			
            const n = statusArray.length;
            for(let i = 0 ; i < n ;i++){
                if(i+1 === order.status){
                     statusArray[i] = statusArray[i].replace(` value="${i+1}"`,` value="${i+1}" selected`);
                }
            }

			return `
            <tr>
                <td>${order.No}</td>
                <td>${order.orderer}</td>
                <td>${order.orderDate}</td>
                <td>${order.total}</td>
                <td style="padding-right: 40px;">
                    <select class="form-control" onchange="statusBoxChange(this)" name="statusBox" data-orderid="${order.orderID}">
                       `+statusArray.join()+`
                    </select>
                </td>
                <td>
                    <a href="/orders/view/${order.orderID}" style="color: black;"><button data-toggle="tooltip" title="Details" class="pd-setting-ed"><i class="fa fa-info-circle" aria-hidden="true"></i></button></a>
                </td>
            </tr>
			`;
		})
	}

    function startSubmit(ele){
		const data = {};
		data.page = $("input[name='page']:checked").val();
		
		let queryString = "";
		if(!data.page){
			data.page = '1';
		}
		if(ele.getAttribute("name") !== "page"){
			data.page = '1';
		}
		if(data.page.length > 0){
			queryString += ("page=" + data.page);
		}
		const newRelativePathQuery = window.location.pathname + '?' + queryString;
		history.pushState(null, '', newRelativePathQuery);
			$.ajax({
			method:'get',
			url: '/orders/filter',
			data: data,
			success: function(data){
				$("#my-pagination").empty();
				if(data.paginationArray && data.paginationArray.length > 0){
					const pageView = generatePager(data.paginationArray, data.prevPage, data.nextPage);
					pageView.forEach(page=>{
						$("#my-pagination").append(page);
					});
				}
				const orderView = generateOrder(data.orders);
				$("#table-body").empty();
				orderView.forEach(order=>{
					$("#table-body").append(order);
				});
				$("#search-input").val(data.searchQuery);
			},
			error: function(err){
				console.log(err);
				alert("An error has occurred, please try again");
			}
		})
	}
</script>
{{/section}}