{{#section 'head'}}
<meta charset="utf-8">
<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Order Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- notifications CSS
		============================================ -->
    <link rel="stylesheet" href="/css/notifications/Lobibox.min.css">
    <link rel="stylesheet" href="/css/notifications/notifications.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/educate-custon-icon.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <!-- x-editor CSS
		============================================ -->
    <link rel="stylesheet" href="/css/editor/select2.css">
    <link rel="stylesheet" href="/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="/css/editor/x-editor-style.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="/css/data-table/bootstrap-editable.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <link rel="stylesheet" href="/css/my-css.css">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
{{/section}}

    <div class="single-pro-review-area mt-t-30 mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-payment-inner-st">
                        <ul id="myTabedu1" class="tab-review-design">
                            <li class="active"><a href="#orderInfo">Order Information</a></li>
                            <li><a href="#shippingInfo"> Shipping Information</a></li>
                            <li><a href="#productInfo" id="productList"> Products List</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            {{#with order}}
                                <div class="product-tab-list tab-pane fade active in" id="orderInfo">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div id="add-professors" action="#" class="add-professors">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="order-id">Order Id</label>
                                                                <input name="order-id" type="text" class="form-control" value="{{orderID}}" readonly="">
                                                            </div>
                                                            <div class="form-group">
                                                            <label for="order total">Order total ($)</label>
                                                                <input name="order total" type="text" class="form-control"  value="{{total}}" readonly="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="order-id">Change Order Status</label>
                                                                <form method="post" action="/orders/view/{{orderID}}?_method=PUT" style="position: relative;">
                                                                    <select class="form-control" onchange="this.form.submit()" name="statusBox">
                                                                        {{#isEqual this.status 1}}
                                                                            <option value="1" selected="">Pending confirmation</option>
                                                                            <option value="2">Confirmed</option>
                                                                            <option value="3">Pick by courier</option>
                                                                            <option value="4">On their way</option>
                                                                            <option value="5">Arrived</option>
                                                                            <option value="6">Completed</option>
                                                                            <option value="7">Canceled</option>
                                                                        {{/isEqual}}
                                                                        {{#isEqual this.status 2}}
                                                                            <option value="1">Pending confirmation</option>
                                                                            <option value="2" selected="">Confirmed</option>
                                                                            <option value="3">Pick by courier</option>
                                                                            <option value="4">On their way</option>
                                                                            <option value="5">Arrived</option>
                                                                            <option value="6">Completed</option>
                                                                            <option value="7">Canceled</option>
                                                                        {{/isEqual}}
                                                                        {{#isEqual this.status 3}}
                                                                            <option value="1">Pending confirmation</option>
                                                                            <option value="2">Confirmed</option>
                                                                            <option value="3" selected="">Pick by courier</option>
                                                                            <option value="4">On their way</option>
                                                                            <option value="5">Arrived</option>
                                                                            <option value="6">Completed</option>
                                                                            <option value="7">Canceled</option>
                                                                        {{/isEqual}}
                                                                        {{#isEqual this.status 4}}
                                                                            <option value="1">Pending confirmation</option>
                                                                            <option value="2">Confirmed</option>
                                                                            <option value="3">Pick by courier</option>
                                                                            <option value="4" selected="">On their way</option>
                                                                            <option value="5">Arrived</option>
                                                                            <option value="6">Completed</option>
                                                                            <option value="7">Canceled</option>
                                                                        {{/isEqual}}
                                                                        {{#isEqual this.status 5}}
                                                                            <option value="1">Pending confirmation</option>
                                                                            <option value="2">Confirmed</option>
                                                                            <option value="3">Pick by courier</option>
                                                                            <option value="4">On their way</option>
                                                                            <option value="5" selected="">Arrived</option>
                                                                            <option value="6">Completed</option>
                                                                            <option value="7">Canceled</option>
                                                                        {{/isEqual}}
                                                                        {{#isEqual this.status 6}}
                                                                            <option value="1">Pending confirmation</option>
                                                                            <option value="2">Confirmed</option>
                                                                            <option value="3">Pick by courier</option>
                                                                            <option value="4">On their way</option>
                                                                            <option value="5">Arrived</option>
                                                                            <option value="6" selected="">Completed</option>
                                                                            <option value="7">Canceled</option>
                                                                        {{/isEqual}}
                                                                        {{#isEqual this.status 7}}
                                                                            <option value="1">Pending confirmation</option>
                                                                            <option value="2">Confirmed</option>
                                                                            <option value="3">Pick by courier</option>
                                                                            <option value="4">On their way</option>
                                                                            <option value="5">Arrived</option>
                                                                            <option value="6">Completed</option>
                                                                            <option value="7" selected="">Canceled</option>
                                                                        {{/isEqual}}
                                                                    </select>
                                                                </form>
                                                                {{!-- <button id="basicSuccessCustomTitle" class="btn btn-success">Success</button> --}}
                                                                {{!-- <input name="order-id" type="text" class="form-control" value="Complete" readonly=""> --}}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <label for="username">Owner</label>
                                                                <input name="username" type="text" class="form-control"  value="{{orderer}}" readonly="">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="payment">Payment Method</label>
                                                                <input name="payment" type="text" class="form-control"  value="{{payment}}" readonly="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="shippingInfo">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="firstname">First Name:</label>
                                                            <input name="firstname" type="text" class="form-control" placeholder="First Name" value="{{f_firstname}}" readonly="">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="lastname">Last Name:</label>
                                                            <input name="lastname" type="text" class="form-control" placeholder="Last Name" value="{{f_lastname}}" readonly="">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="mobileno">Mobile number:</label>
                                                            <input name="mobileno" type="text" class="form-control" placeholder="Mobile Number" value="{{f_phone}}" readonly="">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="address">Country:</label>
                                                            <input name="address" type="text" class="form-control" placeholder="Address" value="{{country}}" readonly="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label for="address">Address:</label>
                                                            <input name="address" type="text" class="form-control" placeholder="Address" value="{{address}}" readonly="">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="address">Ward:</label>
                                                            <input name="address" type="text" class="form-control" placeholder="Address" value="{{ward}}" readonly="">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="address">District:</label>
                                                            <input name="address" type="text" class="form-control" placeholder="Address" value="{{distric}}" readonly="">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="address">Province:</label>
                                                            <input name="address" type="text" class="form-control" placeholder="Address" value="{{province}}" readonly="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="productInfo">
                                    <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="product-status-wrap">
                                                <div class="asset-inner">
                                                    <table>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Image</th>
                                                            <th>Name</th>
                                                            <th>Brand</th>
                                                            <th>Category</th>
                                                            <th>Gender</th>
                                                            <th>Color</th>
                                                            <th>Quantity</th>
                                                            <th>Unit's price ($)</th>
                                                            <th>Total price ($)</th>
                                                            <th>Action</th>
                                                        </tr>
                                                        {{#each ../items}}
                                                            <tr>
                                                                <td>{{this.No}}</td>
                                                                <td><img src="{{this.img}}" alt="" /></td>
                                                                <td>{{this.proName}}</td>
                                                                {{#each ../../brands}}
                                                                    {{#isEqual ../this.brand this.brandID}}
                                                                        <td>{{this.brandName}}</td>
                                                                    {{/isEqual}}
                                                                {{/each}}
                                                                {{#each ../../categories}}
                                                                    {{#isEqual ../this.cate this.catID}}
                                                                        <td>{{this.catName}}</td>
                                                                    {{/isEqual}}
                                                                {{/each}}
                                                                {{#isEqual this.gender 0}}
                                                                    <td>Men</td>
                                                                {{/isEqual}}
                                                                {{#isEqual this.gender 1}}
                                                                    <td>Women</td>
                                                                {{/isEqual}}
                                                                {{#isEqual this.gender 2}}
                                                                    <td>Unisex</td>
                                                                {{/isEqual}}
                                                                <td><input class="my-attribute-input my-attribute-input-color" style="background: {{this.color}}" readonly=""></input></td>
                                                                <td>{{this.quantity}}</td>
                                                                <td>{{this.unitPrice}}</td>
                                                                <td>{{this.totalPrice}}</td>
                                                                <td>
                                                                    <a href="/products/edit/{{this.proID}}" style="color: black;"><button data-toggle="tooltip" title="Details" class="pd-setting-ed"><i class="fa fa-info-circle" aria-hidden="true"></i></button></a>
                                                                </td>
                                                            </tr>
                                                        {{/each}}
                                                    </table>
                                                </div>
                                                {{#if ../paginationArray}}
                                                    <form id="pagination-form" method="get" action="/orders/view/{{orderID}}"> 
                                                        <ul class="my-pagination">
                                                            <li class="my-page-item">
                                                                <input onchange='this.form.submit();' style="display: none;" id="page-prev" value="{{../prevPage}}" type="radio" name="itemPage"/>
                                                                <label for="page-prev"  class="my-page-button">Prev</label>
                                                            </li>
                                                            {{#each ../paginationArray}}  
                                                                {{#if this.isCurrent}}
                                                                    <li class="my-page-item">
                                                                        <input onchange='this.form.submit();' style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="itemPage"/>
                                                                        <label for="page-{{this.page}}"  class="my-page-link my-current-page">{{this.page}}</label>
                                                                    </li>
                                                                {{else}}
                                                                    <li class="my-page-item">
                                                                        <input onchange='this.form.submit();' style="display: none;" id="page-{{this.page}}" value="{{this.page}}" type="radio" name="itemPage"/>
                                                                        <label for="page-{{this.page}}"  class="my-page-link">{{this.page}}</label>
                                                                    </li>
                                                                {{/if}}
                                                            {{/each}}
                                                            <li class="my-page-item">
                                                                <input onchange='this.form.submit();' style="display: none;" id="page-next" value="{{../nextPage}}" type="radio" name="itemPage"/>
                                                                <label for="page-next"  class="my-page-button">Next</label>
                                                            </li>
                                                        </ul>
                                                    </form>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/with}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="/js/counterup/jquery.counterup.min.js"></script>
    <script src="/js/counterup/waypoints.min.js"></script>
    <script src="/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/js/metisMenu/metisMenu.min.js"></script>
    <script src="/js/metisMenu/metisMenu-active.js"></script>
    <!-- notification JS
		============================================ -->
    <script src="/js/notifications/Lobibox.js"></script>
    <script src="/js/notifications/notification-active.js"></script>
    <!-- data table JS
		============================================ -->
    <script src="/js/data-table/bootstrap-table.js"></script>
    <script src="/js/data-table/tableExport.js"></script>
    <script src="/js/data-table/data-table-active.js"></script>
    <script src="/js/data-table/bootstrap-table-editable.js"></script>
    <script src="/js/data-table/bootstrap-editable.js"></script>
    <script src="/js/data-table/bootstrap-table-resizable.js"></script>
    <script src="/js/data-table/colResizable-1.5.source.js"></script>
    <script src="/js/data-table/bootstrap-table-export.js"></script>
    <!--  editable JS
        ============================================ -->
    <script src="/js/editable/jquery.mockjax.js"></script>
    <script src="/js/editable/mock-active.js"></script>
    <script src="/js/editable/select2.js"></script>
    <script src="/js/editable/moment.min.js"></script>
    <script src="/js/editable/bootstrap-datetimepicker.js"></script>
    <script src="/js/editable/bootstrap-editable.js"></script>
    <script src="/js/editable/xediable-active.js"></script>
    <!-- Chart JS
        ============================================ -->
    <script src="/js/chart/jquery.peity.min.js"></script>
    <script src="/js/peity/peity-active.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="/js/tab.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/js/morrisjs/raphael-min.js"></script>
    <script src="/js/morrisjs/morris.js"></script>
    <script src="/js/morrisjs/morris-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/sparkline/jquery.charts-sparkline.js"></script>
    <script src="/js/sparkline/sparkline-active.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="/js/calendar/moment.min.js"></script>
    <script src="/js/calendar/fullcalendar.min.js"></script>
    <script src="/js/calendar/fullcalendar-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/js/main.js"></script>
    <!-- tawk chat JS
		============================================ -->
    <!-- <script src="/js/tawk-chat.js"></script> -->

    <script>
        $(document).ready(function(){
            if(document.getElementById("pagination-form")){
                $("#productList").tab('show');
            }
        })
    </script>